:root {
  --cell-size: 2%;
  --background-color: hsl(279, 32%, 23%);
  --container-size: 90vmin;
}

body {
  background: hsl(279, 32%, 13%);
}

.cells-container {
  
  overflow: hidden;
  background: var(--background-color);
  transition: .666s background;
  margin: 0 auto;
  padding: 0;
  max-width: var(--container-size);
  max-height: var(--container-size);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cell-size));
  grid-auto-rows: 1fr;
  transition: .666s background;
}

.cells-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.square:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.square {
  box-sizing: border-box;
  background: transparent;
  transition: 1s background;
  border: transparent;
}

.active {
  transition: .5s background;
  background: rgb(132, 233, 0);
}
.on-deck {
  transition: .5s background;
  background: rgba(9, 255, 0, 0.4);
}
.dying {
  background: rgba(233, 0, 183, 0.185);
  transition: .5s background;
  animation: dying-flash .5s linear;
}

@keyframes dying-flash {
  0% 
  {
    background: rgba(184, 4, 255, 0.425);
  }
  
  100% 
  {
    background: transparent;
  }
}