:root {
  --cell-size: 2%;
}

.cells-container {
  transform: rotate(90deg);
  overflow: hidden;
  background: rgb(0, 53, 33);
  margin: 0;
  padding: 0;
  max-width: 90vmin;
  max-height: 90vmin;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cell-size));
  grid-auto-rows: 1fr;
}

.cells-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.square:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.square {
  background: transparent;
  transition: 1s background;
  border: none;
}

.active {
  transition: .5s background;
  background: rgb(132, 233, 0);
}
.on-deck {
  transition: .5s background;
  background: rgba(9, 255, 0, 0.4);
}
.dying {
  background: rgba(233, 0, 183, 0.185);
  transition: .5s background;
  animation: dying-flash .5s linear;
}

@keyframes dying-flash {
  0% 
  {
    background: rgba(184, 4, 255, 0.425);
  }
  
  100% 
  {
    background: transparent;
  }


}
@keyframes flash {
  0% 
  {
    border-right: 100vmin solid rgba(255, 255, 255, 0.1);
  }
  
  50% 
  {
    border-right: 100vmin solid rgba(255, 255, 255, 0);
  }
  99%
  {
    border: none;
  }


}